<div class='container'>
  <div class='col-md-offset-1 col-md-10'>
    <%= react_component('WritingMenu', {showListLink: false}) %>
  </div>
</div>

<div class='container'>
  <div class='col-md-offset-1 col-md-10'>
    <%= react_component('WritingList', {writings: @writings}) %>
  </div>
</div>

<div class='container'>
  <div class='col-md-offset-1 col-md-10'>
    <%= paginate @writings %>
  </div>
</div>
