.post-list {
  margin-bottom: 20px;
  min-width: 630px;
}


.post {
  margin-bottom: 20px;
}

.post > h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post > h2 > small {
  font-size: 0.7em;
}

.post__date {
  font-size: 0.8em;
}




.depth-1 {
  padding-left: 15px;
}

.depth-2 {
  padding-left: 30px;
}



.page {
  padding-left: 5px;
  padding-right: 5px;
}
