{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<html>
  <head>
    <title>weblog ricale st.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/weblog.css' %}">
    {% render_bundle 'main' %}
  </head>
  <body>
    <div class="container-fluid">

      <div class="weblog-header">
        <h1><a href="/">weblog ricale st.</a></h1>
        <div class="weblog-header__menu">
          {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}">새 글</a> |
            <a href="{% url 'post_draft_list' %}">비공개글 목록</a> |
            <a href="{% url 'logout' %}">로그아웃</a>
          {% else %}
            <a href="{% url 'login' %}" class="weblog-header__login">로그인</a>
          {% endif %}
        </div>
      </div>

      <div class="weblog-content">
        <div class="row">
          <div class="col-md-10">
          {% block content %}
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
