/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.weblog-header {
  margin: 0px 30px 30px;
  max-width: 800px;
}

.weblog-sidebar.sidebar {
  position: absolute;
  top: 0px;
  left: 860px;
}

.weblog-body {
  margin: 0 30px;
  max-width: 800px;
}

.weblog-footer {
  margin: 30px 30px 10px;
  max-width: 800px;
}

@media (max-width: 1064px) {
  .weblog-sidebar.sidebar {
    left: auto;
    right: 30px;
    z-index: 3;
    // display: none;

    .sidebar__toggle-button {
      left: auto;
      right: 0px;
    }
  }
}
