/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.weblog-header {
  margin: 0px 30px 30px;
}

.weblog-body {
  margin: 0 30px;
}

.weblog-footer {
  margin: 30px 30px 10px;
}
