// .category-item         .category-item__name { width: 400px; }
// .category-item_depth_1 .category-item__name { width: 390px; }
// .category-item_depth_2 .category-item__name { width: 380px; }

.category-item {
  padding: 5px 0;
  white-space: nowrap;

  .category-item__name {
    display: inline-block;
    // margin-right: 5px;
  }

  .category-item__writing-count {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
  }

  .category-item__buttons-container {
    display: inline-block;
    font-size: 0.8em;
  }

  .category-item__edit-button {
    margin-right: 5px;
  }

  .category-item__name a.active {
    font-weight: bold;
  }
}

.category-item_depth_1 { margin-left: 10px; }
.category-item_depth_2 { margin-left: 20px; }

.category-item_inline {
  display: inline-block;
  margin-left: 0;
}

.category-item_inline.category-item_depth_1 { font-size: 1em; }
.category-item_inline.category-item_depth_2 { font-size: 0.8em; }
