body {
  background-color: #FFF;
  color: #000;
}

// a {
//   color: #999;
// }

.header   { color: #666; }
.header a { color: #666; }
.header { border-bottom-color: #666; }

.navigation            a { color: #666; }
.navigation__item_hide a { color: #FFF; }

.footer   { color: #666; }
.footer a { color: #666; }
.footer { border-top-color: #666; }


.writing-item {
  .writing-item__title a              { color: #666; }
  .writing-item__category             { color: #666; }
  .writing-item__category a           { color: #666; }
  .writing-item__created-at           { color: #666; }
  .writing-item__updated-at           { color: #666; }
  .writing-item__buttons-container a  { color: #666; }

  .writing-item__header     { border-bottom-color: #F3F3F3; }
  .writing-item__sns-plugin { border-top-color: #AAA; }
}

.writing-item_single-line { border-bottom-color: #F3F3F3; }
.writing-item_single-line a { color: #666; }

.pagination_writing   { color: #666; }
.pagination_writing a { color: #666; }
