body {
  background-color: #FFF;
  color: #000;
}

// a {
//   color: #999;
// }

.header   { color: #999; }
.header a { color: #999; }

.navigation            a { color: #999; }
.navigation__item_hide a { color: #FFF; }

.introduction { background-color: #F3F3F3; }

.footer   { color: #999; }
.footer a { color: #999; }


.writing-item {
  .writing-item__title a              { color: #000; }
  .writing-item__category             { color: #000; }
  .writing-item__category a           { color: #000; }
  .writing-item__created-at           { color: #000; }
  .writing-item__updated-at           { color: #000; }
  .writing-item__buttons-container a  { color: #000; }

  .writing-item__title      { border-bottom: 1px solid #333; }
  .writing-item__sns-plugin { border-top: 1px dashed #AAA; }
}

.writing-item_single-line { border-bottom: 1px solid #F3F3F3; }
.writing-item_single-line a { color: #000; }

.pagination_writing   { color: #000; }
.pagination_writing a { color: #000; }
