.hme {
  .hme__textarea {
    width: 50%;
    height: 500px;
    vertical-align: top;
  }

  .hme__preview {
    display: inline-block;
    width: 50%;
    height: 500px;
    padding: 10px;
    border: 1px solid #000;

    overflow-y: auto;

    vertical-align: top;
  }
}

.hme_only-preview {
  .hme__preview {
    width: 100%;
    height: auto;
    padding: 0px;
    border: 0px;
    overflow-y: none;
  }
}

.hme_only-textarea {
  .hme__textarea {
    width: 100%;
  }
}
