.pagination_writing {
  display: block;
  text-align: center;

  .pagination__first,
  .pagination__last,
  .pagination__current,
  .pagination__page,
  .pagination__gap {
    display: inline-block;
    padding: 2px 4px;
  }

  .pagination__current {
    font-weight: bold;
  }
}