.writing-item {
  .writing-item__title {
    font-size: 2.0em;
  }

  .writing-item__created-at {
    display: inline-block;
    margin-right: 5px;
  }

  .writing-item__updated-at {
    display: inline-block;
    margin-right: 5px;
  }

  .writing-item__buttons-container {
    display: inline-block;

    .buttons-container__edit-button {
      margin-right: 5px;
    }

    .buttons-container__delete-form {
      display: inline-block;
    }
  }

  .writing-item__original-content {
    display: none;
  }

  .writing-item__decoded-content {
    padding: 10px;
  }
}

.writing-item_single-line {
  margin: 10px 10px 5px 10px;
  padding-bottom: 5px;

  .writing-item__category {
    display: inline-block;
    width: 220px;
  }

  .writing-item__title {
    // font-size: 2.0em;
    display: inline-block;
    width: 560px;
  }

  .writing-item__created-at {
    display: inline-block;
    width: 120px;

    text-align: right;
  }

  .writing-item__buttons-container { display: none; }
  .writing-item__original-content { display: none; }
  .writing-item__decoded-content { display: none; }
}