.writing-entry {
  .writing-entry__title {
    font-size: 2.0em;
  }

  .writing-entry__created-at {
    display: inline-block;
    margin-right: 5px;
  }

  .writing-entry__updated-at {
    display: inline-block;
    margin-right: 5px;
  }

  .writing-entry__buttons-container {
    display: inline-block;

    .buttons-container__edit-button {
      margin-right: 5px;
    }

    .buttons-container__delete-form {
      display: inline-block;
    }
  }

  .writing-entry__original-content {
    display: none;
  }

  .writing-entry__decoded-content {
    padding: 10px;
  }
}

.writing-entry_single-line {
  margin: 10px;

  .writing-entry__category {
    display: inline-block;
    width: 220px;
  }

  .writing-entry__title {
    // font-size: 2.0em;
    display: inline-block;
    width: 560px;
  }

  .writing-entry__created-at {
    display: inline-block;
    width: 120px;

    text-align: right;
  }

  .writing-entry__buttons-container { display: none; }
  .writing-entry__original-content { display: none; }
  .writing-entry__decoded-content { display: none; }
}