.writing-item {
  .writing-item__header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .writing-item__title {
    font-size: 2.0em;
  }

  .writing-item__created-at {
    display: inline-block;
    margin-right: 5px;
  }

  .writing-item__updated-at {
    display: inline-block;
    margin-right: 5px;
  }

  .writing-item__buttons-container {
    display: inline-block;

    .buttons-container__edit-button {
      margin-right: 5px;
    }

    .buttons-container__delete-form {
      display: inline-block;
    }
  }

  .writing-item__original-content {
    display: none;
  }

  .writing-item__decoded-content {
    padding: 10px;
  }

  .writing-item__sns-plugin {
    margin-top: 40px;
    border-top-width: 1px;
    border-top-style: dashed;
    padding-top: 20px;
  }
}

.writing-item_single-line {
  margin: 10px 10px 5px 10px;
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  .writing-item__category {
    display: inline-block;
    width: 180px;
  }

  .writing-item__title {
    display: inline-block;
    width: 410px;
  }

  .writing-item__created-at {
    display: inline-block;

    text-align: right;
  }

  .writing-item__buttons-container { display: none; }
  .writing-item__original-content { display: none; }
  .writing-item__decoded-content { display: none; }
}

@media (max-width: 1199px) {
  .writing-item_single-line {
    .writing-item__category {
      width: 115px;
      .writing-item__parent-category {
        display: none;
      }
    }

    .writing-item__title {
      width: 385px;
    }

    .writing-item__created-at {
      .date-and-time__time {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .writing-item_single-line {
    .writing-item__category {
      display: none;
    }

    .writing-item__title {
      max-width: 475px;
      width: auto;
    }

    .writing-item__created-at {
      display: block;
      font-size: 0.8em;
      text-align: left;
    }
  }
}
