.writing-item {
  .writing-item__header {
    margin-bottom: 20px;
    text-align: right;
  }

  .writing-item__title {
    font-size: 2.5em;
    text-align: left;
  }

  .writing-item__category {
    display: inline-block;
    margin-right: 5px;
  }

  .writing-item__created-at {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.85em;
  }

  .writing-item__updated-at {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.85em;
  }

  .writing-item__buttons-container {
    display: inline-block;

    .buttons-container__edit-button {
      margin-right: 5px;
    }

    .buttons-container__delete-form {
      display: inline-block;
    }
  }

  .writing-item__content {
    padding: 10px 0px;
  }

  .writing-item__sns-plugin {
    margin-top: 40px;
    padding-top: 20px;
  }
}

.writing-item_single-line {
  margin: 10px 0px 5px;
  padding-bottom: 5px;

  .writing-item__header {
    margin-bottom: 0;
    text-align: left;
  }

  .writing-item__title {
    display: inline-block;
    margin-left: 180px;
    margin-right: 110px;
    // width: 430px;
    vertical-align: top;

    font-size: 1em;
  }

  .writing-item__category {
    position: absolute;
    left: 0px;
    top: 0px;

    margin-right: 0;
    width: 180px;
    // float: left;
  }

  .writing-item__created-at {
    position: absolute;
    right: 0px;
    top: 0px;

    display: inline-block;
    margin-right: 0;
    font-size: 1em;
    text-align: right;
    // float: right;
  }

  .writing-item__buttons-container { display: none; }
  .writing-item__content { display: none; }
  .writing-item__sns-plugin { display: none; }
}

@media (max-width: 768px) {
  .writing-item_single-line {
    .writing-item__category {
      display: none;
    }

    .writing-item__title {
      max-width: auto;
      width: auto;
      margin-left: 0px;
      margin-right: 0px;
    }

    .writing-item__created-at {
      display: block;
      font-size: 0.8em;
      text-align: left;
      position: relative;
    }
  }
}
