<div class='container'>
  <div class='col-md-offset-2 col-md-8'>
    <%= react_component('CategoryMenu', {showListLink: false}) %>
  </div>
</div>

<div class='container'>
  <div class='col-md-offset-2 col-md-8'>
    <%= react_component('CategoryList', {categories: @categories, authenticityToken: form_authenticity_token}) %>
  </div>
</div>
